<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.audimexico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PracticantesRequisitos"></activity>
        <activity android:name=".PrincipalPracticantes" />
        <activity android:name=".DocumentosOperativo" />
        <activity android:name=".RequisitosOperativo" />
        <activity android:name=".ProcesoSeleccionOperativo" />
        <activity android:name=".PrincipalOperativo" />
        <activity android:name=".ProfesionistasRequisitos" />
        <activity android:name=".ProfesionistasPuestos" />
        <activity android:name=".PrincipalProfesionistas" />
        <activity android:name=".Exito" />
        <activity android:name=".FuturoEmpleo" />
        <activity android:name=".Login" />
        <activity android:name=".Registro" />
        <activity
            android:name=".Bolsa"
            android:label="@string/title_activity_bolsa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Bolsa_de_trabajo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>